{% extends "admin/change_form.html" %}
{% load spurl %}

{% block extrastyle %}{{ block.super }}
<style type="text/css">

td.field-mediafile {
    border-right: 1px solid #ddd;
}

.field-mediafile strong, .field-related_page strong {
    display: block;
    padding-top: 4px;
    border-top: 1px solid #ddd;
    text-align: center
}

.field-mediafile .image-preview {
    display: block;
    padding-top: 4px;
}

.drag-over {
    outline: 2px dotted #68e;
    background-color: yellow;
}

td.field-mediafile {
    width: 200px;
}

td.field-title input {
    display: block;
}

.vLargeTextField, .vXMLLargeTextField {
    width: 32em;
    height: 8em;
}

/* Remove annoying header line with __unicode__ of inline element */
td.original p {
    display: none;
}

.inline-group .tabular tr.has_original td {
    padding-top: 3px;
}
/* until here */

</style>
{% endblock extrastyle %}

{% block extrahead %}
{{ block.super }}
<!-- ---------------------------------------------- -->
<script type="text/javascript">
//<![CDATA[

function dragLeave(ev) {
    ev.preventDefault();
    ev.stopPropagation();
    $(this).removeClass('drag-over');
    return false;
}

function dropOnto(ev) {
    var element = $(ev.target).parent();
    var link    = ev.originalEvent.dataTransfer.getData("URL");

    ev.stopPropagation();
    ev.preventDefault();
    $(this).removeClass('drag-over');

    if(link && link.search("://{{ request.META.HTTP_HOST }}/") >= 0) {
        $.getJSON("{% url "admin:mediagallery-reverse-url" %}",
            { url: link },
            function(data) {
                if(data.status == 200) {
                    /* Is a "new item" formset element? */
                    if(!element.find('strong').length) {
                        /* Add structure so it looks like the others */
                        element.find('a.related-lookup').after(
                        '<strong></strong><img class="image-preview">');
                    }
                    element.find('input.vForeignKeyRawIdAdminField').removeClass('drag-over').val(data.mediafile_id);
                    element.find('strong').text(data.mediafile_caption);
                    element.find('img.image-preview').attr('src', data.mediafile_url);
                }
        });
    }

    return dragLeave(ev);
}

(function($){
    $(function() {

        /* Merge title/text columns */
        $('tr[id^=item_set-]').each(function(i, e) {
            e = $(e);
            e.find('td.field-title').append(e.find('td.field-text').detach().html());
        });
        $('th:contains(Text)').remove();
        $('th:contains(Title)').append('/ Text');

        /* Set up drag target */
        var sel = '.field-mediafile:visible';
        $('fieldset.module')
            .delegate(sel, 'drop', dropOnto)
            .delegate(sel, 'dragenter dragover',
                    function(ev) {
                        try {
                            if(ev.originalEvent.dataTransfer.getData("URL")) {
                                ev.originalEvent.dataTransfer.dropEffect = 'copy';
                                $(this).addClass('drag-over');
                            }
                        } catch(err) {
                        }
                        return dragLeave(ev);
                    }
            )
            .delegate(sel, 'dragleave', dragLeave);
    });
})(django.jQuery);

//]]>
</script>

{% endblock extrahead %}
