{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block object-tools-items  %}
{% if original.id %}
<li>
    <a href="{% url original.parent_opts|admin_urlname:'change' original.parent_id %}">{% trans "Back to containing page" %}</a>
</li>
{% endif %}

{{ block.super }}
{% endblock %}


{% block extrastyle %}{{ block.super }}
<style type="text/css">

td.field-mediafile {
    border-right: 1px solid #ddd;
}

.field-mediafile strong, .field-related_page strong {
    display: block;
    padding-top: 4px;
    border-top: 1px solid #ddd;
    text-align: center
}

.field-mediafile .image-preview {
    display: block;
    padding-top: 4px;
}

.drag-over {
    outline: 2px dotted #68e;
    background-color: yellow;
}

td.field-mediafile {
    width: 200px;
}

td.field-title input {
    display: block;
}

td.field-ordering {
    display: none;
}

.vLargeTextField, .vXMLLargeTextField {
    width: 32em;
    height: 8em;
}

.sortable-placeholder {
    height: 80px !important;
    border: 4px dotted #68e;
}

/* Remove annoying header line with __unicode__ of inline element */
td.original p {
    display: none;
}

.inline-group .tabular tr.has_original td {
    padding-top: 3px;
}
/* until here */

</style>
{% endblock extrastyle %}

{% block extrahead %}
{{ block.super }}
<!-- ---------------------------------------------- -->
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script type="text/javascript">
//<![CDATA[

function dragLeave(ev) {
    ev.preventDefault();
    ev.stopPropagation();
    $(this).removeClass('drag-over');
    return false;
}

function dropOnto(ev) {
    var element = $(ev.target).parents('tr');
    var link    = ev.originalEvent.dataTransfer.getData("URL");

    ev.stopPropagation();
    ev.preventDefault();
    $(this).removeClass('drag-over');

    if(link && link.search("://{{ request.META.HTTP_HOST }}/") >= 0) {
        $.getJSON("{% url "admin:mediagallery-reverse-url" %}",
            { url: link },
            function(data) {
                if(data.status == 200) {
                    /* Is a "new item" formset element? */
                    if(!element.find('.field-mediafile strong').length) {
                        /* Add structure so it looks like the others */
                        element.find('.field-mediafile a.related-lookup').after(
                        '<strong></strong><img class="image-preview">');
                    }
                    element.find('.field-mediafile input.vForeignKeyRawIdAdminField').removeClass('drag-over').val(data.mediafile_id);
                    element.find('.field-mediafile strong').text(data.mediafile_caption);
                    element.find('.field-mediafile img.image-preview').attr('src', data.mediafile_url);
                }
        });
    }

    return dragLeave(ev);
}

(function($){
    $(function() {

        /* Merge title/text columns, hide ordering */
        $('tr[id^=item_set-]').each(function(i, e) {
            e = $(e);
            e.find('td.field-title').append(e.find('td.field-text').detach().html());
        });
        $('th:contains(Text)').remove();
        $('th:contains(Title)').append('/ Text');
        $('th:contains(Ordering)').css('display', 'none');

        /* Make table sortable */
        $('tbody').sortable({
           cursor: 'move',
           delay: 150,
           distance: 5,
           forceHelperSize: true,
           forcePlaceholderSize: true,
           helper: "clone",
           items: 'tr.has_original',
           opacity: 0.8,
           placeholder: "sortable-placeholder",
           deactivate: function(ev, ui) {
                    $('td.field-ordering input').each(function(i, e) {
                        e = $(e);
                        var row = e.parents('tr');
                        if(row.hasClass('has_original')) {
                            e.val(i);
                        }

                        row.removeClass('row1 row2').addClass('row' + ((i%2) ? '2' : '1'));
                    });
                }
        });

        /* Set up drag target */
        var sel = '.field-mediafile:visible';
        $('fieldset.module')
            .delegate(sel, 'drop', dropOnto)
            .delegate(sel, 'dragenter dragover',
                    function(ev) {
                        try {
                            if(ev.originalEvent.dataTransfer.getData("URL")) {
                                ev.originalEvent.dataTransfer.dropEffect = 'copy';
                                $(this).addClass('drag-over');
                            }
                        } catch(err) {
                        }
                        return dragLeave(ev);
                    }
            )
            .delegate(sel, 'dragleave', dragLeave);
    });
})($);

//]]>
</script>

{% endblock extrahead %}
